.container {
  background-color: #012127;

  padding: 100px 40px;
}

.container .itens {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  justify-content: center;
  align-items: center;
}

.container .itens .item {
  /* background-color: #03ff99; */

  justify-content: center;

  padding: 10px;
  text-align: center;

  border-radius: 10px;

  max-width: 220px;
  max-height: 245px;
}

.container .itens .item p {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  color: white;
}

.img {
  border-radius: 10px;
}
